
#popup-overlay {
    display:none;
    position: fixed;
    z-index: 1000;

    left: 0;
    top: 0;
    width: 100%;
    background-color: #777777;
    cursor: pointer;
    opacity: 0.7;
}



/* necesario para todos */
#altaOficio { 
    position: absolute;
    top: 10%;
    left: 10%;
    z-index:1180;
    width: 80%;
    height: auto;
    margin-left: auto; 
    margin-right: auto; 
    line-height : normal; 
    background:rgb(217, 238, 237); 
    padding:5px; 
    overflow : hidden
}

.navbarJuicios { grid-area: cabeza; }
.info { grid-area: datos; }
.piePagina { grid-area: footer; }



.grid-container {
    display: grid;
    grid-template-areas:
    'cabeza'
    'datos'
    'footer';
    grid-template-rows: 45px 20em 20px;
    grid-template-columns: 1fr;
    grid-gap: 2px;
    padding: 2px;


    position: absolute;
    top: 5%;
    left: 10%;
    z-index:1100;
    width: 80%;
    height: auto;
    margin-left: auto; 
    margin-right: auto; 
    line-height : normal; 
    background:rgb(229, 231, 230); 
    overflow : hidden
}






#lista { 
    position: absolute;
    top: 5%;
    left: 0%;
    z-index:1100;
    width: 98%;
    height: auto;
    margin-left: auto; 
    margin-right: auto; 
    line-height : normal; 
    background:rgb(229, 231, 230); 
    padding: 1em; 
    overflow : hidden
}





.navbarJuicios {
    overflow: hidden;
    background-color: rgb(55, 139, 207);
    position: absolute;
    top: 0;
    left: 0;
    /*bottom: 0; */
    width: 100%;
  }
  
  .navbarJuicios a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
  }
  
  .navbarJuicios a:hover {
    background: #f1f1f1;
    color: black;
  }
  
  .navbarJuicios a.active {
    background-color: #4CAF50;
    color: white;
  }

  .navbarJuicios-right {
    float: right;
  }

  .navbarJuicios a.logo {
    font-size: 16px;
    font-weight: bold;
    color: rgb(226, 234, 243);
  }


  .info {
    padding: 10px; 
    background-color:rgb(230, 250, 220); 
    height: auto;
  
  }
  
  .info label {
    display: block;
    padding-top: 20px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(84, 84, 87);
  
  }
  
  .info textarea,
  .info input {
    font-size: 12px;
    color: rgb(40, 41, 92);
    font-weight: bold;
    background-color:rgb(208, 214, 214);
    border-style: none; 
    width: 100%; 
  
  }

  .boton {
    border: 2px solid black;
    background-color: white;
    border-color: #2196F3;
    color: dodgerblue;
    padding: 14px 28px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;

  
  }
  .boton:hover {
    background: #2196F3;
    color: white;
  }
