body, main, h1, h2, h3, div{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
}


#mesa {
    top: 5%;
    left: 5%;
    z-index:1100;
    width: 90%;
    height: auto;
    margin-left: auto; 
    margin-right: auto; 
    line-height : normal; 
    background:rgb(229, 231, 230); 
    padding:5px; 
    overflow : hidden
}

#tablero {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 100%;
    padding: 1em;
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 990;
    width: 98%;
    height: auto;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 0px;
    line-height : normal; 
    background : rgb(255, 255, 255); 
    overflow : hidden
  }

  
.tablita {
    table-layout: auto;
    overflow: auto;
    max-width: 100%;
    background:
        linear-gradient(to right, white 30%, rgba(255,255,255,0)),
        linear-gradient(to right, rgba(255,255,255,0), white 70%) 0 100%,
        radial-gradient(farthest-side at 0% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)),
        radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-color:  hsl(204, 70%, 95%);  
    background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
    background-position: 0 0, 100%, 0 0, 100%;
    background-attachment: local, local, scroll, scroll;
}
  
.tablita tr {
    border-bottom: 1px solid;
  }
  
.tablita  th {
    background-color: hsl(204, 62%, 40%);
    font-weight: normal;
    color: #fff;
    white-space: normal;
  }
  
.tablita  th, .tablita  td {
    text-align: right;
    padding: 0.5em 0.5em;
  }
  
.numeric {
    text-align: right;
  }
  
p, h1, h2, h3 {
    text-align: left;
    margin-top: 1em;
    font-style: italic;
  }

.tablita  tr:nth-child(odd) {
  background-color: hsl(204, 70%, 91%);  
}


h1	{
	color: #4b4b4b;
	font-family: Tahoma;
	font-size: 22px;
	line-height: 24px;
	font-weight: normal;
}
    
h2	{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3	{
	color: #069;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding-top: 2em;

}






.navbar {
  width: 100%;
  }




.navbar { grid-area: menu; }
.info { grid-area: tabla; }
.item3 { grid-area: grafica; }
.item4 { grid-area: datos; }
.piePagina { grid-area: footer; }

.jaula {
    display: grid;
    grid-template-areas:
    'menu menu'
    'tabla grafica'

    'datos datos'
    'footer footer';
    grid-template-rows: 45px auto auto 45px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}


.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



.navbar nav > a {
    text-decoration: none;
}

.navbar nav {
    font-family: monospace;
}

.navbar ul {
    background: darkorange;
    list-style: none;
    margin: 0;
    padding-left: 0;
}


.navbar li {
    color: rgb(14, 1, 1);
    background: rgb(204, 200, 196);
    display: block;
    float: left;
    padding: 0.1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}
 
.navbar li:hover {
    background: rgb(81, 105, 212);
    cursor: pointer;
}

 
 .navbar ul li ul {
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 2.2rem;
    left: 0;
    display: none;
}
 
 .navbar ul li:hover > ul,
 .navbar li:focus-within > l,
 .navbar ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
 }
 
 .navbar ul li ul li {
    clear: both;
    width: 100%;
 }


 .info {
    padding: 10px; 
    background-color:rgb(230, 250, 220); 
    height: auto;
  
  }
  
  .info label {
    display: block;
    padding-top: 20px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(84, 84, 87);
  
  }
  
  .info textarea,
  .info input {
    font-size: 12px;
    color: rgb(40, 41, 92);
    font-weight: bold;
    background-color:rgb(208, 214, 214);
    border-style: none; 
    width: 100%; 
  
  }

  
  .boton {
    border: 2px solid black;
    background-color: white;
    border-color: #2196F3;
    color: dodgerblue;
    padding: 14px 28px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;

  
  }
  .boton:hover {
    background: #2196F3;
    color: white;
  }
